html, *, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

:root {
  --field-border: 1px solid rgb(0, 0, 0);
  --field-size: 120px;
  --cba-border-color-1: rgb(247, 165, 73);
  --cba-border-color-2: rgb(235, 74, 141);
  --cba-border-color-3: rgb(196, 90, 245);
  --cba-border-color-4: rgb(90, 126, 245);
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 36, 36);
}

.main-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  height: 600px;
  width: 600px;
}

.player-turn {
  display: flex;
  border: none;
  gap: 50px;
}

.player-turn > * {
  font-size: 48px;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  padding: 10px;
  transition: all 500ms;
}

.turn {
  border-bottom: 3px solid black;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, var(--field-size));
  margin: 20px 0;
}

.field {
  height: var(--field-size);
  border: none;
  background: none;
  border-bottom: var(--field-border);
  border-right: var(--field-border);
  cursor: pointer;
  font-size: 64px;
}

.field:disabled{
  color: inherit;
}

.field.no-right {
  border-right: none;
}

.field.no-bottom {
  border-bottom: none;
}

.replay-button {
  margin: 10px 0;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
}

.hide {
  visibility: hidden;
}
