html, *, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(44, 44, 44);
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

:root {
  --field-border: 1px solid rgb(44, 44, 44);
  --field-size: 120px;
  --bg-cyan-gradient: linear-gradient(to right, rgb(43, 240, 158), rgb(43, 201, 240));
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 36, 36);
}

.main-game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(151, 43, 240);
  background-image: linear-gradient(to right, rgb(43, 240, 158), rgb(43, 201, 240));
  padding: 10px;
  height: 600px;
  width: 600px;
  border-radius: 10px;
}

.player-turn {
  display: flex;
  border: none;
  gap: 50px;
}

.player-turn > * {
  font-size: 32px;
  font-weight: 700;
  padding: 5px;
  transition: all 500ms;
  border: 3px solid transparent;
  box-shadow: 0 0 0 1px rgb(32, 36, 36);
  border-radius: 4px;
  width: 150px;
  text-align: center;
  margin-bottom: 30px;
}

.player-name-container {
  display: flex;
  gap: 50px;
  border: none;
}

.player-name-container > .player-name {
  text-align: center;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
}

.active {
  border: 3px solid rgb(32, 36, 36);
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, var(--field-size));
  margin: 20px 0;
}

.field {
  height: var(--field-size);
  border: none;
  background: none;
  border-bottom: var(--field-border);
  border-right: var(--field-border);
  cursor: pointer;
  font-size: 64px;
  transition: background-color 1s ease;
}

.change-bg {
  background-color: lightcoral;
}

.field:disabled{
  color: inherit;
}

.field.no-right {
  border-right: none;
}

.field.no-bottom {
  border-bottom: none;
}

.win-box {
  background-color: rgb(2, 199, 199);
}

.select-symbol {
  background-color: rgb(2, 199, 199);
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
}

.select-txt {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}


input[type="radio"] {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.radio-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.symbol input[type="radio"]:checked + label {
  background-color: lightcoral;
  color: #fff;
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: rgb(80, 79, 79);
  width: 420px;
  border-radius: 32px;
}

.symbol > div {
  display: flex;
}

.symbol label {
  font-size: 120px;
  border: none;
  border-radius: 5px;
  height: 100%;
  width: 200px;
  border-radius: 22px;
}

.difficulty {
  margin-top: 10px;
  display: flex;
}

.difficulty .radio-btn {
  font-size: 18px;
  background-color: #fff;
  padding: 8px;
  border-radius: 12px;
}

.difficulty input[type="radio"]:checked + label {
  background-color: lightsalmon;
  color: #fff;
}

.game-start-button {
  font-size: 18px;
  border-radius: 12px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  margin-top: 20px;
}

.gameboard-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.score {
  margin-top: 32px;
  max-width: 60px;
  width: 60px;
  text-align: center;
  border: 2px solid black;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(86, 214, 214);
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.score::before {
  content: "";
  max-width: 60px;
  width: 60px;
  text-align: center;
  border: 2px solid black;
  position: absolute;
  right: -2px;
  top: -16px;
  font-size: 12px;
  border-bottom: none;
  font-weight: 700;
  background-color: rgb(59, 58, 58);
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.score.x::before {
  content: "x";
}

.score.o::before {
  content: "o";
}

.score.tie::before {
  content: "tie";
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.822);
}

.gameover {
  background-color: #fff;
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.gameover .message {
  font-size: 32px;
  margin-bottom: 20px;
}

.gameover button {
  padding: 4px;
  border-radius: 6px;
  border: 1px solid darkgray;
  color: white;
  background-color: rgb(78, 76, 76);
}

.quit-game {
  position: absolute;
  top: 2px;
  right: 16px;
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(5, 117, 117, 0.575);
  cursor: pointer;
}

.quit-game::after {
  content: "Quit";
  position: absolute;
  font-size: 14px;
  text-wrap: nowrap;
  left: -12px;
  bottom: -18px;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0;
  transition: all 300ms ease;
}

.quit-game:hover::after {
  opacity: 1;
}

.hide {
  display: none;
}